.stm_metaboxes_grid .stm_metaboxes_grid__inner {
    .wpcfto_generic_field__autocomplete_wrapper {
        margin-bottom: 0;
        width: 100%;
        padding: 20px;

        .wpcfto-field-aside {
            .wpcfto-field-aside__label {
                display: block;
                margin: 0 0 0.8em;
            }
        }

        .wpcfto_generic_field__autocomplete {
            background-color: transparent;
            padding: 0;
        }

        .wpcfto-autocomplete-search {
            width: 100%;
        }

        > label {
            margin: 0 0 15px;
            font-size: 18px;
        }

        .addArea {
            position: relative;
            padding: 8px 13px;
            background-color: #f7f7f7;
            border: 1px solid #dbdbdb;
            border-radius: 3px;
            font-weight: 400;
            color: #23282d;
            font-size: 14px;
            cursor: pointer;

            i {
                position: relative;
                top: -1px;
                width: 16px;
                height: 16px;
                margin-right: 4px;
                color: #fff;
                font-size: 11px;
                text-align: center;
                line-height: 16px;
                background-color: $main_color;
                border-radius: 50%;
            }

            .dropdown {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }

            &:hover {
                border-color: $main_color;
                background-color: $main_color;
                color: #fff;

                i {
                    background-color: #fff;
                    color: $main_color;
                }
            }
        }

        .wpcfto-autocomplete {
            margin-bottom: 0;
            li {
                background-color: #ffffff;
                border: 1px solid #bec5cb;
                position: relative;
                margin: 0 0 10px;
                padding: 0;
                font-size: 14px;
                font-weight: 500;
                border-radius: 5px;
                i {
                    position: absolute;
                    right: -1px;
                    top: 50%;
                    margin-top: -17px;
                    opacity: .4;
                    font-weight: 900;
                    padding: 10px;
                    margin-right: 10px;
                    cursor: pointer;
                    &:hover {
                        opacity: 1;
                        color: #f32c41;
                    }
                }
                .item-wrapper {
                    display: flex;
                    padding: 10px 9px;
                    align-items: center;
                    img {
                        width: 56px;
                        height: 42px;
                        object-fit: cover;
                    }
                }
                .item-data {
                    padding: 0 40px 0 13px;
                    flex-grow: 1;
                    span {
                        display: block;
                        font-size: 18px;
                        line-height: 24px;
                        &.item-label {
                            margin-bottom: 5px;
                            font-size: 12px;
                            line-height: 12px;
                            color: #aaaaaa;
                        }
                    }
                }
            }
        }

    }
}


.wpcfto-autocomplete-search {
    .v-select-search {
        position: relative;
        & > i {
            position: absolute;
            top: 12px !important;
            left: 11px;
            font-size: 16px;
            color: $accent;
            z-index: 2;
        }
        .dropdown {
            .dropdown-toggle {
                background-color: #f6f9fc;
                border: 1px solid #bec5cb;
                border-radius: 5px;
                height: 40px !important;
                .form-control {
                    background-color: transparent;
                    height: 40px;
                    padding-left: 33px !important;
                }
                i {
                    display: none;
                }
            }
            .selected-tag {
                margin-left: 33px;
            }
            &.open {
                .dropdown-toggle {
                    border-color: $accent;
                    background-color: #fff;
                }
            }
        }
    }
    .v-select-search-label {
        color: $color_muted;
        margin-top: 0.5em;
        display: block;
    }
}
