.stm_metaboxes_grid {
    .stm_metaboxes_grid__inner {
        label {
            color: #23282d;
            font-weight: 700;
            font-size: 15px;
        }
        .button {
            display: inline-block;
            padding: 11px 20px 9px;
            margin-right: 10px;
            min-height: auto;
            height: auto;
            line-height: 1;
            text-transform: uppercase;
            color: #fff;
            font-size: 13px;
            border-radius: 5px;
            background-image: linear-gradient(0deg,#334cb9 0,#4c65d3 100%);
            cursor: pointer;
            letter-spacing: 0;
            border: 0 !important;
            span {
                transition: none;
            }
            &:hover {
            }
        }
    }
}