.stm_colorpicker_wrapper {
    position: relative;
    .vc-photoshop,
    .vc-chrome {
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        min-width: 510px;
        opacity: 0;
        visibility: hidden;
        transform: translateY(5px);
        transition: .3s ease;
        z-index: 999999999999;
        &:hover {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }
        .vc-ps-ac-btn {
            display: none;
        }
        .vc-editable-input {
            .vc-input__input {
                position: relative;
                left: 17px;
                width: 100%;
            }
        }
    }

    &.picker-position-top {
        .vc-photoshop,
        .vc-chrome {
            top: auto;
            bottom: 100%;
        }
    }

    label {
        display: block;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 7px;
    }
    .wpcfto_generic_field_flex_input {

    }
    > input[type='text'] {
        & {
            vertical-align: middle;
            width: calc(100% - 52px) !important;
            display: initial !important;
        }
        &:focus + div {
            .vc-photoshop,
            .vc-chrome {
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
            }
        }
    }
    > span:not(.description) {
        background-color: #f6f9fc;
        display: inline-block;
        vertical-align: middle;
        width: 40px;
        height: 40px;
        margin-right: 10px;
        border: 1px solid #bec5cb;
        cursor: pointer;
        border-radius: 5px;
    }
}
