.date {
    .wpcfto_generic_field.wpcfto_generic_field_date {
        .wpcfto_field_title {
            display: block;
        }
        .wpcfto_datepicker {
            min-width: 30%;
        }
    }
    &.column-1 {
        .wpcfto_generic_field.wpcfto_generic_field_date {
            & {
                display: flex;
                flex-direction: row;
                padding: 20px;
                position: relative;
                align-items: center;
            }
            .wpcfto_field_title {
                display: flex;
                width: 20%;
                order: 1;
            }
            .wpcfto_field_hint {
                position: absolute;
                top: 0;
                right: 0;
            }
            .field-description {
                order: 2;
            }
            .mx-datepicker {
                width: 30% !important;
                margin-left: 15px;
                order: 3;
            }
        }
    }
    &:not(.column-1) {
        .wpcfto_generic_field.wpcfto_generic_field_date {
            .field-description {
                margin-top: 10px;
            }
            .wpcfto_field_title {
                margin-bottom: 10px;
            }
        }
    }
}
.dates {
    .wpcfto_generic_field.wpcfto_generic_field__date {
        .wpcfto_field_title {
            display: block;
        }
        .wpcfto_datepicker {
            min-width: 30%;
        }
    }
}
.mx-datepicker {
    width: 100% !important;
    margin: 0 0 30px;
    input.mx-input {
        height: 2.6rem;
        margin-bottom: 0 !important;
        background-color: transparent;
        border: .1rem solid #d1d1d1;
        border-radius: 6px;
        box-shadow: none;
    }
    &-popup {
        left: 0;
    }
}

.mx-calendar-content {
    .mx-calendar-table {
        tr {
            th,
            td {
                padding: 0;
                text-align: center;
            }
        }
    }
}

.wpcfto_generic_field_date {
    .mx-datepicker {
        margin-bottom: 0;
    }
}

.mx-datepicker-popup {
    right: 0 !important;
    left: auto !important;
}
