.stm_metaboxes_grid {
    .wpcfto_generic_field {
        //padding: 16px 20px 18px;
        padding: 20px;
        width: 100%;

        input, select, textarea {
            box-shadow: 0 0 0 transparent;
            font-size: 14px;
        }

        label {
            font-size: 16px;

            &.disabled {
                color: $color_muted;
                position: relative;

                &:hover {
                    background-color: transparent;
                }

                &::after {
                    content: "Soon";
                    text-transform: uppercase;
                    position: absolute;
                    top: 0;
                    right: -12px;
                    font-size: 7px;
                    font-weight: 500;
                    font-style: normal;
                    letter-spacing: 0.7px;
                    line-height: 24px;
                }
            }
        }

        &_flex_input {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .wpcfto_datepicker,
            select,
            input {
                margin-left: auto;
            }

            .wpcfto_datepicker {
                .mx-datepicker {
                    margin-bottom: 0;
                }
                input {
                    width: 100%;
                }
            }


            textarea,
            select,
            input {
                margin-bottom: 0;
                border: 1px solid #bec5cb;
                background-color: #f6f9fc;
                box-shadow: 0 0 0 transparent;
                font-size: 15px;
                color: $color_main;
            }

        }

    }


    .unflex_fields {
        .wpcfto_generic_field,
        .wpcfto_generic_field_flex_input {
            display: block;
            padding: 0;
            margin: 0 0 15px;
            label {
                margin: 0 0 10px;
                font-size: 13px;
                letter-spacing: 0;
            }
            .wpcfto_datepicker,
            select,
            input {
                width: 100%;
            }
        }
    }
}

.wpcfto-admin-select {
    .wpcfto-radio {
        margin-left: 10px;
    }
}

.image-field-file {
    i {
        position: relative;
        top: 2px;
        color: #195ec8;
        font-size: 20px;
        margin: 0 6px 0 0;
    }
}
