html body .stm_metaboxes_grid {

    &__inner {
        .wpcfto_group_started {
            width: 100%;
            flex-wrap: wrap;

            .wpcfto_field_hint {
                position: absolute;
                right: 5px;
                top: 0;
            }

            .wpcfto_generic_field {
                min-height: auto;
                border-radius: 0 !important;
                margin: 0 0 10px;
                padding: 0;
                background-color: transparent;

                &.wpcfto_generic_field_flex_input {
                    display: block;

                    label {
                    }

                    .wpcfto_datepicker,
                    input,
                    select {
                        width: 100%;
                    }
                }
            }
            .wpcfto-admin-select {
                &.wpcfto_generic_field_flex_input {
                    display: block;
                    select {
                        width: 100%;
                        max-width: 100%;
                    }
                }
            }

            .container {
                padding: 16px 20px 18px;
                border-radius: 5px;
            }

            .row {
                flex-wrap: wrap;
            }
        }
    }
}
