.custom-shadow {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.custom-shadow-sm {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/* In FontawesomePicker.vue <style scoped lang="scss" /> */

.icon-preview-fade-enter-active, .icon-preview-fade-leave-active {
    transition: opacity .25s;
}

.icon-preview-fade-enter, .icon-preview-fade-leave-to /* .fade-leave-active below version 2.1.8 */
{
    opacity: 0;
}

.preview-container {
    width: 100%;
    position: relative;
    z-index: 9999999;
}

.previewer {
    position: absolute;
    width: 100%;
    min-height: 50px;
    max-height: 500px;
    overflow: auto;
    background: white;
    top: -20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.icon-preview {

    text-align: center;


    .icon-wrapper {
        width: 60px;
        height: 60px;
        padding: 15px;
        margin: 10px;
        line-height: 40px;
        cursor: pointer;
        border-radius: 5px;
        transition: ease-in-out all .25s;

        &:hover, &.selected {
            background: #42b883;
            color: #fbfbfb;
        }

        i {
            font-size: 30px;
        }
    }
}

.wpcfto_generic_field__iconpicker__icon {
    padding: 10px;
    background-color: rgba(255,255,255,.5);
    font-size: 20px;
}

.wpcfto-box {
    &.column-1,
    .wpcfto-box-child.column-1 {
        .wpcfto_generic_field {
            &.wpcfto_generic_field__iconpicker {
                display: block;

                .wpcfto_generic_field, input {
                    flex: 1;
                }
            }
            .wpcfto_generic_field__text {
                // display: block;
            }
        }
    }
}

.wpcfto_generic_field__iconpicker {
    .wpcfto_generic_field__text {
        padding: 0;
    }
}
