.stm_metaboxes_grid {
    select,
    textarea,
    input[type=number],
    input[type=time],
    input[type=text] {
        box-shadow: 0 0 0 transparent;
        border-radius: 5px;
        border: 1px solid #bec5cb;
        background-color: #f6f9fc;
        height: 40px;
        padding: 8px 16px;
        &:focus,
        &:active {
            border-color: $accent;
        }
    }
}

.stm_metaboxes_grid .stm_metaboxes_grid__inner .stm-curriculum .stm-curriculum-list .stm-curriculum-single-name input,
.stm_metaboxes_grid .stm_metaboxes_grid__inner .stm-curriculum .stm-curriculum-list .stm-curriculum-single.section input {
    box-shadow: none !important;
    background-color: transparent !important;
}
