.stm_metaboxes_grid__inner {
    input[type="checkbox"],
    input[type="radio"] {
        display: inline-block !important;
    }
    .wpcfto-admin-select {
        & > label {
            display: block;
            margin-bottom: 15px;
        }
        .wpcfto-radio {
            margin: 0;
        }
    }
    .wpcfto-radio {
        input {
            position: relative;
            top: 0;
            vertical-align: bottom;
            margin: 0 !important;
        }
        & > label {
            font-size: 15px;
            font-weight: 400 !important;
            background-color: #fff;
            padding: 11px 13px;
            display: inline-block;
            margin: 0 18px 15px 0 !important;
            position: relative;
            transition: background-color 0.3s ease 0s;
            border-radius: 5px;

            &:hover {
                background-color: #f6f9fc;
            }
        }
        input[type=radio]:checked {
            & {
                border-color: $accent;
                background-color: $accent;
            }
            &::before {
                background-color: #fff;
                width: 6px;
                height: 6px;
                margin: 4px;
            }
        }
    }


	.section_quiz_settings-quiz_style,
    .section_settings-status {
        margin: 0 0 10px !important;
        .wpcfto-radio {
            margin: 0 0 10px;
            display: flex;
            label {
                margin-right: 20px !important;
            }
        }
    }

	.section_quiz_settings-quiz_style {
		padding-top: 25px;
	}

}
