.stm_lms_shortcode_list {
    padding: 16px 20px 18px;
    width: 100%;

    & > div {
        label {
            display: block;
            margin-bottom: 15px;
        }
        input, select, textarea {
            margin-bottom: 15px;
        }
        ul {
            & {
                list-style: circle;
            }
            li {
                line-height: 1.4;
            }
            ul {
                list-style: none;
                text-indent: -5px;
                li {
                    &:before {
                        content: "-";
                        text-indent: -5px;
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}
