.textarea {
    .wpcfto_generic_field.wpcfto_generic_field_textarea {
        .wpcfto_field_title {
            display: block;
        }
        textarea {
            display: flex;
            align-items: center;
            height: auto;
            width: 100%;
            min-height: 58px;
        }

    }
    &.column-1 {
        .wpcfto_generic_field.wpcfto_generic_field_textarea {
            & {
                display: flex;
                flex-direction: row;
                padding: 20px;
            }
            .wpcfto_field_column {
                width: 30%;
                position: relative;

                .wpcfto_field_hint {
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }
            .field-description {
                margin-top: 10px;
            }
            textarea {
                width: 65%;
                margin-left: 5%;
            }
        }
    }
    &:not(.column-1) {
        .wpcfto_generic_field.wpcfto_generic_field_textarea {
            .field-description {
                margin-top: 0;
                margin-bottom: 10px;
            }
            .wpcfto_field_title {
                margin-bottom: 10px;
            }
        }
    }
}
