.wpcfto-box {
    &.column-1,
    .wpcfto-box-child.column-1 {
        .wpcfto_generic_field_textarea {
            & {
                align-items: initial;
                display: flex;
            }
            textarea {
                height: auto;
                width: 60%;
                min-height: 58px;
            }
            .wpcfto-field-aside {
                max-width: 40%;
            }
        }
    }
    &:not(.column-1),
    .wpcfto-box-child:not(.column-1) {
        .wpcfto_generic_field_textarea {
            textarea {
                width: 100%;
                margin-bottom: .5em;
            }
        }
    }
}